<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="styles/dashboard.css">

<div id="staffinfo">
<h1>Dashboard</h1>
    <a href="/createstaff">Create Staff</a> ||
    <a href="/logout">Logout</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="scripts/dashboard.js"></script>
<%- include('partials/footer.ejs') %>
