<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="styles/loginPage.css">
    <div class="form">
        <h1 class="">Login to TeamApp</h1>
        <div class="form-group break">
            <form action="/dashboard" method="post">
                <label for="username">Username</label>
                <input name="username" class="form-control" type="text" id="username">
                <label for="password">Password</label>
                <input name="password" class="form-control" type="password" id="password">
                <button class="btn btn-primary mt-3" type="submit">Login</button>
            </form>
            <button class="btn btn-primary mt-3"><a class="signup-a" href="/signup">Go to signup</a></button>
        </div>
    </div>
<%- include('partials/footer.ejs') %>
